<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.min.css">
    <title>Football Rankings</title>
</head>
<body>
<div id="navbarContainer"></div>

<div class="container">
    <h1 class="text-center">Football Rankings</h1>


    <br/>
    <table id="rankingTable" class="table table-hover">
        <thead>
        <tr class="table-active">
            <th>Rank</th>
            <th style="display: none;">País Id</th>
            <th>País</th>
            <th>País abrev</th>
            <th>Puntos totales</th>
            <th>Puntos anteriores</th>
            <th>Cambio de ranking</th>
            <th>Confederación</th>
            <th>Fecha de ranking</th>
            <th>Jugadores en la Plantilla</th>
            <th>Jugadores extranjeros</th>
            <th>Jugadores nacionales</th>
            <th>Promedio de edad</th>
            <th>Promedio de altura</th>
            <th>Valor Total (M)</th>
            <th>Economía</th>
            <th>Clima</th>
            <th>PIB (aprox.)</th>
            <th>Índice de Democracia 2023</th>
            <th>Plantilla</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<script src="./static/home.js"></script>
</body>
</html>