<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.min.css">
    <title>Jugadores</title>
</head>
<body>
<div id="navbarContainer"></div>
<div class="container">
    <h1 class="text-center">Plantilla actual</h1>
    <div class="d-flex justify-content-end">
        <button id="btnLoadPlayers" class="btn btn-primary" onclick="goBack()">Regresar</button>
    </div>
    <br/>
    <table id="playerTable" class="table table-hover">
        <thead>
        <tr class="table-active">
            <th>Nombre</th>
                <th>Posición</th>
                <th>Fecha de nacimiento</th>
                <th>Edad</th>
                <th style="display: none">Club</th>
                <th>Altura</th>
                <th>Pie</th>
                <th>Partidos con la selección</th>
                <th>Goles</th>
                <th>Debut</th>
                <th>Valor de mercado (M)</th>
                <th style="display: none;">Player Id</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<script src="./static/players.js"></script>
</body>
</html>